.button {
  min-width: 6rem;
  border: 0;
  background: transparent;
  padding: 0.625rem 1rem;
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 600;
  color: rgb(30 41 59);
  cursor: pointer;
}

.button:hover {
  background: rgb(248 250 252);
}
